<%- include("partials/header"); -%>

      <div class="row">
        <div class="col-lg-6 title-col">
          <h1 class="title-text">
            Web development student
          </h1>
        </div>
        <div class="col-lg-6 title-col">
          <img class="phoebe-image" src="/images/Phoebe-dark.png" alt="Phoebe profile image">
        </div>
      </div>
    </div>
  </section>

  <section class="about-sec" id="about">
    <div class="container-fluid about">
      <div class="row">
        <div class="col-lg-6 bio">
          <h2>About me</h2>
          <p>
            Hi! I'm Phoebe, a web development student with a background in art & design.
            I was a professional piercer and jewelry specialist for over 5 years and also spent
            more than 2 years managing the small local business where I worked as a piercer.
            I began learning web development in March of 2020, hoping to make a career
            for myself with fewer direct health risks that would also continue to challenge me in the long-term.
            In my free time I am an amateur photographer and bug enthusiast, and I stay active with strength training.
          </p>
        </div>
        <div class="col-lg-6 credentials">
          <div class="accordion cred-cards" id="accordionExample">
            <div class="card bg-dark">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left cred-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Bachelor of Arts | Studio Art
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  I graduated from Florida State University in 2015. I focused on design principles
                  and discovered a love for photography toward the end of my time in college. Luckily
                  I was able to continue to use and expand on what I had learned in my personal time
                  and in my piercing career in the years that followed.
                </div>
              </div>
            </div>
            <div class="card bg-dark">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed cred-button" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Professional Piercer & Studio Manager
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  I was employed at Body Piercing by Bink from July 2013 to August 2020. I started as a
                  part-time counter assistant, within a year or two I had begun a piercing apprenticeship,
                  and eventually around 2017 I started to add management responsibilities to my plate. I
                  believe that I’ve achieved a great deal of personal and professional growth as I’ve adapted
                  to changes in my responsibilities over the years. Some highlights from my piercing career include:
                  <ul>
                    <li>Being a member of the Association of Professional Piercers, the piercing industry's international
                      professional organization, through which I was able to take advantage of learning opportunities and make
                      professional connections.
                    </li>
                    <li>
                      Obtaining and maintaining CPR and First Aid certification, as well as becoming a Florida Notary.
                    </li>
                    <li>
                      Developing a huge variety of skills from team management and leadership, to business operations and inventory management,
                      to effective and empathetic communication with staff and clients, to fine motor skills and safety compliance, and more.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card bg-dark">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed cred-button" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Basic Front and Back End Skill Set
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Through my self-directed studies I have been able to progress from zero development experience
                  or understanding to being able to use a variety of development tools to create simple websites
                  and applications. I have discovered and been delighted by my own capacity to learn an entirely
                  new skill. Yet at the same time I am humbled as
                  the more I learn and understand about computer science and web development, the more I feel like
                  I have barely even scratched the surface. I look forward to ongoing learning! At this point I have experience with:
                  <ul>
                    <li>
                      HTML, CSS (and Bootstrap), and front-end Javascript + jQuery
                    </li>
                    <li>
                      Command Line; Git, and Github
                    </li>
                    <li>
                      Node.js, Express.js, API use, EJS templates
                    </li>
                    <li>
                      Server setup and handling requests, Components of RESTful API
                    </li>
                    <li>
                      Databases - basic SQL and NoSQL, relatively detailed MongoDB with Mongoose
                    </li>
                    <li>
                      Authentication & Security, including OAuth
                    </li>
                    <li>
                      React.js is next on the agenda!
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section class="links-sec" id="links">
    <div class="links-heading">
      <h2>Check out these links to learn more</h2>
    </div>
    <div class="row links-container first-row">
      <div class="col-lg-4 link-btn-div left">
        <a class="btn btn-dark link-button" href="https://serene-woodland-03491.herokuapp.com/" target="_blank">guided project: to do list app</a>
      </div>
      <div class="col-lg-4 link-btn-div center">
        <a class="btn btn-dark link-button" href="https://polar-savannah-79132.herokuapp.com/" target="_blank">guided project: newsletter sign-up</a>
      </div>
      <div class="col-lg-4 link-btn-div right">
        <a class="btn btn-dark link-button" href="https://compedu.stanford.edu/codeinplace/public/projects/0753.html" target="_blank">code in place project</a>
      </div>
    </div>

    <div class="row links-container second-row">
      <div class="col-lg-2 spacing-div">

      </div>
      <div class="col-lg-2 spacing-div">

      </div>
      <div class="col-lg-2 link-btn-div">
        <a class="btn btn-dark link-button" href="https://www.linkedin.com/in/phoebe-dowling-689a671aa/" target="_blank">linkedin</a>
      </div>
      <div class="col-lg-2 link-btn-div">
        <a class="btn btn-dark link-button" href="https://github.com/inside-cat" target="_blank">github</a>
      </div>
      <div class="col-lg-2 spacing-div">

      </div>
      <div class="col-lg-2 spacing-div">

      </div>
    </div>
  </section>

  <section class="contact-sec" id="contact">
    <div class="contact-form">
      <h2>Contact me</h2>
      <form class="form-group" action="/contact" id="contact-form" method="post" role="form">
        <fieldset>

          <input
            class="form-control top"
            id="name"
            name="name"
            type="text"
            placeholder="Your name"
            required>

          <input
            class="form-control middle"
            id="email"
            name="email"
            type="text"
            placeholder="Your email"
            required>

          <textarea class="form-control bottom" id="message" name="message" placeholder="Enter your message here" rows="3" required></textarea>

          <button class="btn btn-lg btn-dark btn-block contact-submit-button" type="submit">Submit</button>
        </fieldset>
      </form>
    </div>

  </section>

<%- include("partials/footer"); -%>
