<%- include("partials/header"); -%>

    <div class="jumbotron jumbotron-fluid jumbo-style">
      <div class="container">
        <h1 class="display-4">Success</h1>
        <p class="lead">You have contacted Phoebe!</p>
      </div>
    </div>

<%- include("partials/footer"); -%>
